body {
    background-color: black;
    margin: 150px 450px 150px 450px;
    font-family: roboto;

}
div .post {
    width: 300px;
    height: 400px;
    background-color: white;
    
}
div .post-header {
    display: flex;
    background-color: white;
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 div .img {
    background-color: beige;
    justify-content: center;
    display: flex;
 } 

 div .pies{
    background-color: white;
    position: relative;
    
 }

.logo {
    padding: 1%;
    font-size:xx-large;
}
.html {
    font-weight: bold;
}
.nombre{
    font-weight: lighter;
}
.trespuntos {
    padding-right: 3%;
    font-size: xx-large;
    margin-left: auto;
}
.emojis {
    display:flex;
    padding: 1%;
    font-size: xx-large;
}
.heart{
    padding-right: 1%;
}
.comment{
    padding-right: 1%;
}
.save{
    padding:2%;
    margin-left: auto;
}
.liked{
    padding: 2%;
}
.descripcion{
    padding: 2%;
}